<div style="font-size: 30px;">
  <div class="footer" style="background-color: rgba(31, 30, 30, 0.831);font-size: 20px;" >
      <div class="row">
        <div class="col">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="color: rgb(242, 115, 23);">QUICK LINK </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="" style="color: aliceblue;" >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="products"style="color: aliceblue;">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink=""style="color: aliceblue;">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contact_us"style="color: aliceblue;">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="color: rgb(242, 115, 23);">PRODUCT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="areospace.html"style="color: aliceblue;">Payments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="bfs.html"style="color: aliceblue;">Shipping</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="healthcare.html"style="color: aliceblue;">Order Details
              </a>
            </li>
          </ul>
        </div>
        <div class="col">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="color: rgb(242, 115, 23);">HELP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cloud.html"style="color: aliceblue;">Payments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cyber.html"style="color: aliceblue;">Shipping</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="data.html"style="color: aliceblue;">Cancellation </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="data.html"style="color: aliceblue;">Return </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="data.html"style="color: aliceblue;">FAQ </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col" >   
          <h3 style="color: aliceblue; font-size: 40px; margin-left: 30px;font-weight: 400;">Get in <br>touch with <br>us</h3>
        </div>
        <div class="col" style="padding-right: 400px;">
          <a routerLink="contact_us"><button type="button" class="btn btn-warning btn-sm" style="font-size: 25px; border-radius: 25px; color: white; padding: 7px 20px; margin-top: 50px;font-weight: 600;">Contact Us</button></a>
        </div>
        <div class="col" style="margin-top: 40px;margin-right: 40px">
          <img src="../../assets/l2.avif" alt="" style="background-color: white; height: 60px;width: 200px;">
          <p style="color: white;">+91-484-42523233 <br> connect.fashionstore.net</p>
        </div>
      </div>
       <br>
      <hr style="color: beige;">
      <br>
      <h6 style="color: white; text-align: center;">2023 © All rights reserved. Fashion Store  |  Legal Disclaimer  |  Fashion Store </h6>
      <br>
  </div>
</div>