<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" style="height: 600px;">
    <div class="carousel-item  active">
      <img src="../../../assets/c5.avif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/f2.avif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/f3.avif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/f7.jfif" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br>
<div style="margin-left: 20px;">
<h3 class="head">Men's Collection</h3>
<div class="row row-cols-4 row-cols-md-4 g-4">
  <div class="col">
    <div class="card">
      <img src="../../../assets/clothing.jpg" class="card-img-top" alt="..." style="height: 300px;">
      <div class="card-body">
        <h5 class="card-title">Clothing</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/watch.webp" class="card-img-top" alt="..." style="height: 300px;">
      <div class="card-body">
        <h5 class="card-title">Watches </h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/shoes men.avif" class="card-img-top" alt="..." style="height: 300px;">
      <div class="card-body">
        <h5 class="card-title">Shoes </h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/accessories men.avif" class="card-img-top" alt="..." style="height: 300px;">
      <div class="card-body">
        <h5 class="card-title">Accessories </h5>
      </div>
    </div>
  </div>
</div>
<br>
<h3 class="head">Womens's Collection</h3>
<div class="row row-cols-4 row-cols-md-4 g-4">
  <div class="col">
    <div class="card">
      <img src="../../../assets/women.avif" class="card-img-top" alt="..." style="height: 300px;">
      <div class="card-body">
        <h5 class="card-title">Clothing</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/footwear.jfif" class="card-img-top" alt="..." style="height: 300px;">
      <div class="card-body">
        <h5 class="card-title">Footwear</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/jwellery.avif" class="card-img-top" alt="..." style="height: 300px;">
      <div class="card-body">
        <h5 class="card-title">Jwellery</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/accessories.avif" class="card-img-top" alt="..." style="height: 300px;">
      <div class="card-body">
        <h5 class="card-title">Accessories</h5>
      </div>
    </div>
  </div>
</div>
<br>
<h3 class="head">Kid's Collection</h3>
<div class="row row-cols-4 row-cols-md-4 g-4">
  <div class="col">
    <div class="card">
      <img src="../../../assets/kids c.jpg" class="card-img-top" alt="..." style="height: 300px;">
      <div class="card-body">
        <h5 class="card-title">Clothing </h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/kids s.jfif" class="card-img-top" alt="..." style="height: 300px;">
      <div class="card-body">
        <h5 class="card-title">Shoes </h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/kids.jfif" class="card-img-top" alt="..." style="height: 300px;">
      <div class="card-body">
        <h5 class="card-title"> Accessories</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/toys.jfif" class="card-img-top" alt="..." style="height: 300px;">
      <div class="card-body">
        <h5 class="card-title">Toys </h5>
      </div>
    </div>
  </div>
</div>
</div> <br>